# DATABASE_URL="postgres://pg_user:pg_password@pg_host:pg_port/pg_database_name"
# PORT="application_port"

# example
DATABASE_URL="postgres://postgres:123456@localhost:5432/jnservice"
PORT=3000
REDIRECT_URL="http://localhost:5173/complete-infos"
